<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script>
        let objHandler = {
            get(target, name) {
                if (name == 'count') {
                    console.log('你访问了get');
                    return target[name]
                }
            },
            set(target, name, value) {
                if (name == 'count') {
                    console.log('你访问了set');
                    target[name] = value
                }
            }
        }
        let obj = new Proxy({}, objHandler)
        console.log(obj.count);
        obj.count = 10
        console.log(obj.count);
    </script>
</body>

</html>