/* css reset 样式重置  */
* {
     margin: 0;
     padding: 0;
     outline: 0;
     /*轮廓*/
}

/* css 继承 */
html,
body {
     height: 100%;
}

body {
     background-color: #373737;
}

/* .page {
    } */
.page__hd {
     padding: 40px;
}

.page__title {
     text-align: left;
     font-size: 40px;
     font-weight: 400;
     color: rgba(255, 255, 255, 0.8);
}

.page__desc {
     margin-top: 4px;
     color: rgba(255, 255, 255, 0.6);
     text-align: left;
}

/* .page__bd {
        
    } */
.button-sp-area {
     margin: 15px auto;
     padding: 15px;
}

.weui-btn {
     display: block;
     width: 184px;
     margin-left: auto;
     margin-right: auto;
     padding: 8px 24px;
     font-weight: 700;
     font-size: 17px;
     text-align: center;
     color: #fff;
     background-color: green;
     border-radius: 8px;
     text-decoration: none;
     line-height: 17px;
}

/* 兄弟选择器（重要）
+：选择当前元素之后的元素
~：选择当前元素之后的所有元素*/
.weui-btn+.weui-btn {
     margin-top: 10px;
}

.weui-btn_disabled {
     background-color: rgba(255, 255, 255, 0.08);
     color: rgba(0, 0, 0, 0.2)
}

span {
     display: block;
     width: 100px;
     height: 100px;
     /* background-color: pink; */
}

span+span {
     background-color: pink;
     color: red;
}